<br>
<div class="banner-home-howitworks">
  <div class="banner-text">
    <div class="h2-font-home"><h2>Collaborate and gain real <br>experience</h2></div>
    <br>
    <%= link_to "Create Project", new_project_path, class: "p-font create-project project-howitworks" %>
  </div>
    <div class="banner-image">
      <img width="700px" height="550px" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" id="howitworks_banner_img" >
    </div>


</div>

<div class="testamonial-container  mt-5 p-4">
  <div class="testamonial text-center mb-4">
    <h4 class="h4-font mb-3">LEARN TO COLLABORATE</h4>
    <hr>
    <h2 class="h2-font">Learn to Collaborate and gain experience as a Modern Developer</h2>
    <p class="p-font">Gain experience using collaboration tools that are used in modern tech companies. Real-time messaging, async communication, <br>task management tools, audio / video meetings, etc.</p>
  </div>
  <br>
</div>

<hr>
<br>
<br>

<div class="section-one">
  <div class="row howitworks_row">
    <div class="col-lg-6">
      <img src="https://images.unsplash.com/photo-1588196749597-9ff075ee6b5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80" alt="" id="howitworks_img">
    </div>
    <div class="col-lg-6">
      <p class="p-font"> => Participate in weekly team standups</p>
      <p class="p-font"> => Real-time messaging & async communication</p>
      <p class="p-font"> => Participate in text / audio / video meetings (all depends on your preference as a team)</p>
      <p class="p-font"> => Overcome real challenges developers face on the job</p>
    </div>
  </div>
</div>


<br>
<hr>
<br>


<div class="section bg-white pt-5">
  <div class="testamonial text-center mb-4">
      <h4 class="h4-font mb-3">USE REAL WORLD TOOLS</h4>
      <hr>
      <h2 class="h2-font">Use the real-world coding tools you'll use on the job</h2>
      <p class="p-font">Learn to manage your project's codebase in a team setting like a pro! This is one of the most valuable skills you will learn as a developer <br>and will unlock a new world of collaboration opportunities.</p>
  </div>

  <div class="section-one">
    <div class="row howitworks_row">
      <div class="col-lg-6">
        <p class="p-font">1. Build and refine your Git skills</p>
        <p class="p-font">2. Contribute fixes and features to the project using Git and Github</p>
        <p class="p-font">3. Participate in code reviews with teammates to ensure the quality of your project</p>
      </div>
      <div class="col-lg-6">
        <img src="https://miro.medium.com/max/800/1*RTgn1s0GY8r0rSPsAzf8NQ.png" alt="" id="howitworks_img">
      </div>
    </div>
  </div>
</div>

