<div class="footer">
 <div class="footer-col1">
  <div class="h3-font">Logo</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="h2-mobile">© Join Code Buddies, 2021.</div>
 </div>
 <div class="footer-col2">
 </div>
 <div class="footer-col3">
  <div class="h3-font">Log in</div>
  <br>
  <div class="h2-mobile">My Profile</div>
  <div class="h2-mobile">My Dashboard</div>
 </div>
 <div class="footer-col4">
  <div class="h3-font">Projects</div>
  <br>
  <div class="h2-mobile">New ideas</div>
  <div class="h2-mobile">Finished projects</div>
  <div class="h2-mobile">Create a projects</div>
  <br>
  <br>
  <div class="h3-font">How it works</div>
 </div>
 <div class="footer-col5">
  <div class="h3-font">Community</div>
  <br>
  <div class="h2-mobile">Profiles</div>
 </div>
</div>
