<div class="p-font sign-up">Sign up</div>
<br>
<div class="p-font log-in">Log-in</div>
<br>
<div class="p-font create-project">Create project</div>
<br>
<div class="p-font details">Details</div>
<br>
<div class="p-font join">Join</div>
<br>
<div class="p-font room">Room</div>
