<br>
<%# BUTTONS %>
  <div class="p-font sign-up">Sign up</div>
  <br>
  <div class="p-font log-in">Log-in</div>
  <br>
  <div class="p-font create-project">Create project</div>
  <br>
  <div class="p-font details">Details</div>
  <br>
  <div class="p-font join">Join</div>
  <br>
  <div class="p-font room">Room</div>
<br>
<hr>
<br>
<%# SEARCH BAR %>
<div class="container-form">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>
<br>
<hr>
<br>
<%# AVATAR %>
<div class="avatar-all">
  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <div class="avatar-text h2-font">Neo</div>
  <div class="p-font">Montreal</div>
</div>

<%# CARDS TO JOIN PROJECT %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <a class="img-card" href="">
          <img src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>
        <div class="card-read-more">
          <div class="card-footer-bottom d-flex justify-content-between py-2 px-2">
            <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
            <p>Created 3 days ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>