<% @requests.each do | request| %>
    <div>
        <p> Your request for  <%= request.project.name %></p>
        <p> is currently:</p>  <%= request.status %>
    </div>
    <p>****************************************</p>
<% end %>
<%= link_to "Home Page", root_path%>