<div class="banner-home">
  <div class="banner-text">
    <div class="h2-font">Join our community</div>
    <div class="h2-font banner-green-text">Code, build and learn</div>
    <br>
    <div class="p-font sign-up">Sign up</div>
  </div>
  <div class="banner-image">
    <img width="710px" height="550px" src="https://res.cloudinary.com/drlbljn6y/image/upload/v1617323462/banner1_zwwv1q.jpg" alt="">
  </div>
</div>

<hr>

<%# CARDS %>
<div class="container home-card-section bg-white">
  <div class="text-sectios text-center mt-4">
    <h3 class="h3-font pt-3">See all the new ideas to join</h3>
    <p class="p-font mb-4">Many of us have amazing ideas and we are looking for the perfect team to build it.</p>
  </div>
  <div class="row m-3">
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
  </div>
</div>
