<br>
<div class="banner-home">
  <div class="banner-text">
    <div class="h2-font">Join our community</div>
    <div class="h2-font banner-green-text">Code, build and learn</div>
    <br>
    <%= link_to "Sign up", new_user_registration_path, class: "p-font sign-up" %>
  </div>
  <div class="banner-image">
    <img width="710px" height="550px" src="https://res.cloudinary.com/drlbljn6y/image/upload/v1617323462/banner1_zwwv1q.jpg" alt="">
  </div>
</div>

<br>
<hr>
<br>



<%# CARDS %>
<div class="container home-card-section bg-white">
  <div class="text-sectios text-center mt-4">
    <h3 class="h3-font pt-3">See all the new ideas to join</h3>
    <p class="p-font mb-4">Many of us have amazing ideas and we are looking for the perfect team to build it.</p>
  </div>
  <div class="row m-3">
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a class="img-card" href="">
          <img
            src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
        </a>
        <a href="">
          <div class="p-font join">Join</div>
        </a>

        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              Pups
            </a>
          </h2>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odio iure, dolore maxime voluptatum
            ex inventore nihil tempora magni, asperiores nam ipsam debitis odit facere!</p>
        </div>

      </div>
    </div>
  </div>
</div>


<%# CSS IS IN THE _OTHERS.SCSS FILE %>

<div class="testamonial-container  mt-5 p-4">
  <div class="testamonial text-center mb-4">
    <h4 class="h4-font mb-3">WHAT DEVELOPERS THINK</h4>
    <hr>
    <h2 class="h2-font">CodeBuddies has guided thousands of developers on learning adventures</h2>
    <p class="p-font">CodeBuddies has helped thousands of people learning in-demand skills accelerate their learning through collaboration and project-building.</p>
  </div>
  <br>
  <div class="client text-center">
    <div class="client-reviews">
      <h5 class="h5-font">“I got my first developer job at the age of 35 largely due to the technical AND soft skills I gained through CodeBuddies.”</h3>
      <p class="author p-font">Eric Zumwalt / United States</p>
    </div>
    <hr>
      <div class="client-reviews">
      <h5 class="h5-font">“I realized pretty quickly that I was learning more from the Pups project than from everything I did in the entire rest of the year put together.”</h3>
      <p class="author p-font">Owen Ekhator / Canada</p>
    </div>
    <hr>
      <div class="client-reviews">
      <h5 class="h5-font">“CodeBuddies was a great place for me because while working on the projects there, I honed my skills and I learned how to collaborate with other developers. During my job interview process, I was able to speak on the projects I worked on at CodeBuddies. It impressed my interviewers and consequently, I landed a job at a Fortune 500.”</h3>
      <p class="author p-font">Sarah Schneider / Canada</p>
    </div>
    <hr>
  </div>
</div>

<div class="logos-container bg-white mt-5 p-3">
  <h2 class="text-center h2-font p-3">Companys that works with us</h2>
  <hr>
  <ul class="logogrid">
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/GitHub_Mark.png/640px-GitHub_Mark.png" class="logogrid__img" alt="Coca Cola">
    </li>
    <li class="logogrid__item">
      <img src="https://i.pcmag.com/imagery/reviews/05XBKmNFYeHCMIn726Nohqb-3..1569471603.jpg" class="logogrid__img" alt="Google">
    </li>
    <li class="logogrid__item">
      <img src="https://design-style-guide.freecodecamp.org/downloads/fcc_secondary_large.svg" class="logogrid__img" alt="AirBnB">
    </li>
    <li class="logogrid__item">
      <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" class="logogrid__img" alt="Spotify">
    </li>
       <li class="logogrid__item">
      <img src="https://www.qualified.io/shared/images/codewars-black-large-24a9d355.png" class="logogrid__img" alt="Spotify">
    </li>
    <li class="logogrid__item">
      <img src="https://www.udemy.com/staticx/udemy/images/v6/default-meta-image.png" class="logogrid__img" alt="Google">
    </li>

  </ul>

</div>

<br>

<br>
