<div class="container">
<h1>this works?</h1>
<% @projects.each do |project| %>
<h2> <%= project.name %> </h2>
<p> <%= project.description %> </p>
<%= link_to "Details", project_path(project)  %>

<% end %>


</div>
