.nav-avatar {
  width: 50px;
  border-radius: 50%;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.295)
  // filter: drop-shadow(0 0 0.3rem $almostblack);
}
.avatar-all {
  text-align: center;
}

.avatar-text {
  margin-top: 10px;
}
