  .card {
    position: relative;

      display: grid; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 24px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:250;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    position: relative;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 250;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }

  .card-content h2 {
    font-family: $montserrat;
    color: $almostblack;
  }

  .card-content p {
    font-family: $inter;
    color: $almostblack
  }

 #card-img {
   height: 270px;
 }

  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    margin: 3px 10px;
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }

  .card-footer-bottom {
    align-items: center;
    justify-content: center;
  }


  .card .p-font {
    position: absolute;
    left: 240px;
    top: 185px;
  }

  .avatar-detail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.349)

  }

.detail-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card p {
    margin: 0;
}
  
.card .avatar {
    // margin-left: 5px;
    width: 30px;
    height: 30px;
}

#fas {
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 289px;
  color: white;
  font-size: 40px;
}

  // @media only screen and (max-width: 600px) {
  //   .card-detail {
  //     width: 300%;
  //   }
  // }

  //***********************************
  // css for dashboard user-info do be reviewd by Gad.
  
  // .card-product {
  //   overflow: hidden;
  //   height: 670px;
  //   width: 550px;
  //   background: white;
  //   box-shadow: 0 0 15px rgba(0, 0, 0, 0.068);
  //   display: flex;
  //   margin-right: 30px;;
  //   border-radius: 15px;
  //   // align-items: center;
  // }

  // .main-card {
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   height: 150px;
  //   width: 570px;
  //   margin: 20px;
  // }
  
  // .card-product img {
  //   filter: grayscale(100%);
  //   margin: 10px;
  //   height: 130px;
  //   width: 120px;
  //   object-fit: cover;
  //   box-shadow: 0 0 10px rgb(0,0,0.4);
  // }
  
  // .card-product h2 {
  //   font-size: 16px;
  //   font-weight: bold;
  //   margin: 0;
  // }
  
  // .card-product p {
  //   font-size: 12px;
  //   line-height: 1.4;
  //   opacity: .7;
  //   margin-bottom: 0;
  //   margin-top: 8px;
  // }
  
  // .card-product .card-product-infos {
  //   padding: 16px;
  // }
  
  // .section2 {
  //   max-width: 100%;
  // }

  //**************************************