// SEARCH BAR
.search-form-control {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 40px;
}

.fa-search {
  color: $lightgray;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.3rem;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid $lightgray;
}

.search-form-control .form-control:focus {
  border: 1px solid $lightgreen;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
// SEARCH BAR END *******


.form-container {
  width: 30%;
  height: auto;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);
}

.form-control {
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

.sign-up-form-btn {
  display: flex;
  justify-content: center;
}