.edit-icon {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-icon {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-icon {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-right-icon {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left-icon {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  width: 40px;
  height: 40px;
  background-color: $white;
  border-color: $lightgreen;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgreen;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending-icon {
  width: 40px;
  height: 40px;
  background-color: $white;
  border-color: $lightgray;
  border: solid 1px;
  border-radius: 50%;
  color: $lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.denied-icon {
  width: 40px;
  height: 40px;
  background-color: $white;
  border-color: $red;
  border: solid 1px;
  border-radius: 50%;
  color: $red;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
