.navbar-lewagon {
  background: white;
  height: 100px;
  color: $mediumgray;
}

.navbar-lewagon .navbar-brand img {
  width: 170px;
}

.nav-logo {
  margin-left: 50px;
}

.navbar-lewagon ul {
  list-style-type: none;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-special {
  margin-right: 450px;
}
