.wrapper {
  background: $darkgreen;
}

.wrapper h2, h1 {
  color: white;

}

.wrapper p {
  color: white;

}

.links-project {
  margin: 0 auto;
    align-items: center;
    max-width: 350px;
}

.creation {
  margin: 0 100px;
}

// modal

