.wrapper {
  background: $darkgreen;
}

.wrapper h2, h1 {
  color: white;

}

.wrapper p {
  color: white;

}

.links-project {
  margin: 0 auto;
    align-items: center;
    max-width: 350px;
}

.creation {
  margin: 0 100px;
}

.modal {
  margin: 140px auto;
}

.modal-content {
  background: $white;
  border: 1px solid #ddd;
  border-radius: 2px;;
  // box-shadow: 1px 1px 45px rgb(192, 255, 213)
}

.modal-header {
  color: $lightgreen;
  margin: 0 auto;
}

.modal-body {
  color: $lightgreen;
  font-size: 34px;
  margin: 0 auto;
}

.btn-secondary {
  margin: 0 auto;
  background: $yellow;
  border: none;
}
// modal

